apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog
  template:
    metadata:
      labels:
        app: catalog
    spec:
      containers:
        - name: catalog
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 8081

          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://mysql:3306/catalogdb

            - name: SPRING_DATASOURCE_USERNAME
              value: cataloguser

            - name: SPRING_DATASOURCE_PASSWORD
              value: catalogpassword

            - name: SPRING_REDIS_HOST
              value: catalog-redis-master

            - name: SPRING_REDISIS_PORT
              value: "6379"
